<div style="position: relative; width: 620px;">
  <h1 style="padding-left: 80px; padding-top: 50px;">NCC LAB ALUMNI</h1>
  
  <% @alumni.each do |alumnus| %>
   <div style="margin-left: 80px;">
     <% if alumnus.url.nil? %>
      <p><a class="tooltip" style="font-weight: bold; text-decoration: none; cursor: text;" rel="#"><%= alumnus.name %><span class="classic"><b><%= alumnus.title %></b><br /><%= alumnus.office %><br /><%= alumnus.email %><br /><b><%= alumnus.phone %></b><br /><%= alumnus.blurb %><br /><%= alumnus.image %></span></a><br /><%= alumnus.image %></p>
     <% else %>
      <p><a class="tooltip" style="font-weight: bold;" href="<%= alumnus.url %>" rel="#"><%= alumnus.name %><span class="classic"><b><%= alumnus.title %></b><br /><%= alumnus.office %><br /><%= alumnus.email %><br /><b><%= alumnus.phone %></b><br /><%= alumnus.blurb %><br /><%= alumnus.image %></span></a><br /><%= alumnus.image %></p>
  	 <% end%>
   </div>
  <% end%>
</div>
<div style="padding-bottom: 25px;">
</div>

<div class="nav" style="margin-top: -21px;">
  <ul class="sidenav">
    <li><a href="/people/">CURRENT</a></li>
    <ul class="sidesubnav">
      <li><a href="/people/directors">Directors</a></li>
      <li><a href="/people/postdocs">Postdoctoral Fellows</a></li>
      <li><a href="/people/students">Graduate Students</a></li>
      <li><a href="/people/ras">Research Associates</a></li>
    </ul>
    <li><a href="/people/alumni">ALUMNI</a></li>
    <li><a href="/people/collaborators">COLLABORATORS</a></li>
    </ul>
</div>
