<div class="collaboratorsbox">
  <h1 style="padding-left: 80px; padding-top: 50px;">NCC LAB COLLABORATORS</h1>
  
  <% @collaborators.each do |collaborator| %>
    <p style="margin-top: 10px; margin-left: 80px; margin-bottom: 10px;">
      <% if collaborator.url.nil? %>
        <%= collaborator.name %><br />
      <% else %>
        <a href="<%= collaborator.url %>" style="color: #322B2B; font-weight: bold;"><%= collaborator.name %></a><br />
      <% end %>
      <span style="color: #322B2B; width: 550px;"><%= collaborator.institution %></span><br />
      <span style="color: #322B2B; width: 550px;"><%= collaborator.blurb %></span>
    </p>
  <% end%>
</div>

<div class="nav" style="margin-top: -21px;">
  <ul class="peoplenav">
    <li><a href="/people/">CURRENT</a></li>
    <ul class="peoplesubnav">
      <li><a href="/people/directors">Directors</a></li>
      <li><a href="/people/postdocs">Postdoctoral Fellows</a></li>
      <li><a href="/people/students">Graduate Students</a></li>
      <li><a href="/people/ras">Research Associates</a></li>
    </ul>
    <li><a href="/people/alumni">ALUMNI</a></li>
    <li><a href="/people/collaborators">COLLABORATORS</a></li>
  </ul>
</div>
