<div style="width: 550px; padding-left: 80px; padding-top: 50px;">
  <h1>NCC LAB COLLABORATORS</h1>
  
  <% @collaborators.each do |collaborator| %>
      <% if collaborator.url.nil? %>
        <%= collaborator.name %><br />
      <% else %>
        <a href="<%= collaborator.url %>" style="color: #322B2B; font-weight: bold;"><%= collaborator.name %></a><br />
      <% end %>
      <p><%= collaborator.institution %><br />
      <%= collaborator.blurb %></p>
  <% end%>
</div>

<div class="nav">
  <ul class="sidenav">
    <li><a href="/people/">CURRENT</a></li>
    <ul class="sidesubnav">
      <li><a href="/people/directors">Directors</a></li>
      <li><a href="/people/postdocs">Postdoctoral Fellows</a></li>
      <li><a href="/people/students">Graduate Students</a></li>
      <li><a href="/people/ras">Research Associates</a></li>
    </ul>
    <li><a href="/people/alumni">ALUMNI</a></li>
    <li><a href="/people/collaborators">COLLABORATORS</a></li>
  </ul>
</div>
