<div style="padding-left: 80px; padding-top: 30px;">
   <table border="0" class="peopletable">
    <tr>
     <h2>Directors</h2>
    </tr>
    <tr>
     <% @directors.each do |director| %>
     <td>
      <div class="personbox">
      <a href="/people/directors#<%= director.name %>"><img src="<%= director.image %>" /></a>
     </td>
     <% end%>
    </tr>
   </table>
   
   <table>
    <tr>
     <h2 style="margin-top: -10px;">Postdoctoral Fellows</h2>
    </tr>
     <% @postdocs.each_with_index do |postdoc, index| %>
       <% if index % 5 == 0 %>
        <tr>
       <% end %>
       <td>
         <div class="personbox">
          <a href="/people/postdocs#<%= postdoc.name %>"><img src="<%= postdoc.image %>" /></a>
        </div>
       </td>
       <% if index % 5 == 4 or index == @postdocs.length - 1%>
         </tr>
       <% end %>
     <% end %>
   </table>
   
   <table>
    <tr>
     <h2 style="margin-top: -10px;">Graduate Students</h2>
    </tr>  
     <% @students.each_with_index do |student, index| %>
       <% if index % 5 == 0 %>
         <tr>
       <% end %>
       <td>
       <div class="personbox">
        <a href="/people/students#<%= student.name %>"><img src="<%= student.image %>" /></a>
       </div>
       </td>
       <% if index % 5 == 4 or index == @students.length - 1%>
         </tr>
       <% end %>
     <% end %>
   </table>
   
   <table>
    <tr>
     <h2 style="margin-top: -10px;">Research Associates</h2>
    </tr> 
    <tr>
     <% @ras.each do |ra| %>
     <td>
      <div class="personbox">
      <a href="/people/ras#<%= ra.name %>"><img src="<%= ra.image %>" /></a>
      </div>
     </td>
     <% end %>
    </tr>
   </table>
 </div>

<div class="nav">
  <ul class="sidenav">
    <li><a href="/people/">CURRENT</a></li>
    <ul class="sidesubnav">
      <li><a href="/people/directors">Directors</a></li>
      <li><a href="/people/postdocs">Postdoctoral Fellows</a></li>
      <li><a href="/people/students">Graduate Students</a></li>
      <li><a href="/people/ras">Research Associates</a></li>
    </ul>
    <li><a href="/people/alumni">ALUMNI</a></li>
    <li><a href="/people/collaborators">COLLABORATORS</a></li>
  </ul>
</div>