<div>
  <h1 style="padding-top: 50px; padding-left: 80px;">NCC LAB PUBLICATIONS</h1>
  <div style="width: 800px; padding-left: 80px;">
  <% @years.each do |year| %>
    <% if year.nil? %>
      <h3>In Press</h3>
    <% else %>
      <h3><%= year %></h3>
    <% end %>
    <% Publication.find_all_by_year(year).each do |publication| %>
      <p class="publication">
        <%= publication.authors %>
        (<%= publication.year_string %>)<br />
        <b><%= publication.title %></b><br />
        <%= publication.journal %>
        [<a href="<%= publication.file %>">PDF</a>]
      </p>
    <% end %>
  <% end %>
  </div>
</div>
